.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.thumb{
  min-height: 180px;
  height: 100%;
  width: 100%;
  background-position: center;
  background-size: cover;

}

.preview{
  height: 100px;
  width: 100px;
  margin: 0 0.3rem;
  background-position: center;
  background-size: cover;
}



.thumb, .preview{
  border-radius: 25px;
  background-repeat: no-repeat;
}

.tags span {
	padding-right: 0.3em;
	margin-right: 0.3em;
}

.tags{
  transition: 0.3s;
  text-decoration: underline;
}

.location-text{
  color: gray;
}

.location-name{
  font-family: Cloud-bold;
  color: black;
  font-size: 2em;
  font-weight: 600;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;  
  transition: 0.3s;
}

.location-name>a{
  text-decoration: none;
  color: black;
}

.tags:hover{
  cursor: pointer;
  transform: scale(1.05);
}

.location-name:hover{
  transform: scale(1.03);
}

.location-description{
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;  
  overflow: hidden;
}

.title{
  font-size: 5em;
  color: #2C9CDB
}

@font-face {
	font-family: Cloud-bold;
	src: url(./assets/fonts/Cloud-Bold.otf);
}

@font-face {
	font-family: Cloud-light;
	src: url(./assets/fonts/Cloud-Light.otf);
}

.cloud .l{
  font-family: Cloud-light;
}

.cloud .b{
  font-family: Cloud-bold;
}

.tagList{
  padding-top: 1em;
  font-size: 0.8em;
}

.readMore{
  color: #52AFE4;
  text-decoration: none;

}

.title>a{
  text-decoration: none;
  color: #2C9CDB;
}